.navbar-container {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.navbar-container nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-container img {
  height: 70px;
}
.navbar-container ul {
  display: flex;
  margin: 0;
  padding: 10px 30px;
  list-style: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.navbar-container li {
  padding: 10px 15px;
  list-style: none;
  margin: 0 10px;
}
