.custom-ul {
  display: flex;
  margin: 0;
  padding: 10px 30px;
  list-style: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.custom-li {
  padding: 10px 15px;
  list-style: none;
  margin: 0 10px;
}
